# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [5]:
# Define the target set y using the credit_ranking column
y = loans_df['credit_ranking']

# Display a sample of y
y[0:10]

0    0
1    0
2    0
3    1
4    0
5    0
6    0
7    1
8    1
9    0
Name: credit_ranking, dtype: int64

In [6]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns='credit_ranking')

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [7]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [8]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [9]:
# Define the the number of inputs (features) to the model
input_nodes = len(X.columns)

In [10]:
# Define the number of hidden nodes for the first hidden layer
hn1 = 8

# Define the number of hidden nodes for the second hidden layer
hn2 = 6

# Define the number of neurons in the output layer
output_neurons = 1

In [11]:
# Create the Sequential model instance
nn_model = tf.keras.models.Sequential()

# Add the first hidden layer
nn_model.add(Dense(units=hn1, activation='relu', input_dim=input_nodes))

# Add the second hidden layer
nn_model.add(Dense(units=hn2, activation='relu'))

# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(Dense(units=output_neurons, activation='sigmoid'))

In [12]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 96

 dense_1 (Dense)             (None, 6)                 54

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 157 (628.00 Byte)
Trainable params: 157 (628.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [13]:
# Compile the Sequential model
nn_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [14]:
# Fit the model using 50 epochs and the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 0s 662us/step - loss: 0.7393 - accuracy: 0.5346
Epoch 2/50
38/38 [==============================] - 0s 554us/step - loss: 0.6645 - accuracy: 0.6130
Epoch 3/50
38/38 [==============================] - 0s 554us/step - loss: 0.6205 - accuracy: 0.6606
Epoch 4/50
38/38 [==============================] - 0s 514us/step - loss: 0.5892 - accuracy: 0.7023
Epoch 5/50
38/38 [==============================] - 0s 527us/step - loss: 0.5679 - accuracy: 0.7248
Epoch 6/50
38/38 [==============================] - 0s 548us/step - loss: 0.5550 - accuracy: 0.7281
Epoch 7/50
38/38 [==============================] - 0s 527us/step - loss: 0.5470 - accuracy: 0.7306
Epoch 8/50
38/38 [==============================] - 0s 716us/step - loss: 0.5413 - accuracy: 0.7331
Epoch 9/50
38/38 [==============================] - 0s 554us/step - loss: 0.5377 - accuracy: 0.7364
Epoch 10/50
38/38 [==============================] - 0s 554us/step - loss: 0.5353 - accuracy: 0.7323
Epoch 11/50
38/38 [==============================] - 0s 568us/step - loss: 0.5322 - accuracy: 0.7364
Epoch 12/50
38/38 [==============================] - 0s 554us/step - loss: 0.5298 - accuracy: 0.7364
Epoch 13/50
38/38 [==============================] - 0s 557us/step - loss: 0.5277 - accuracy: 0.7364
Epoch 14/50
38/38 [==============================] - 0s 554us/step - loss: 0.5256 - accuracy: 0.7364
Epoch 15/50
38/38 [==============================] - 0s 541us/step - loss: 0.5240 - accuracy: 0.7364
Epoch 16/50
38/38 [==============================] - 0s 541us/step - loss: 0.5223 - accuracy: 0.7364
Epoch 17/50
38/38 [==============================] - 0s 541us/step - loss: 0.5202 - accuracy: 0.7364
Epoch 18/50
38/38 [==============================] - 0s 568us/step - loss: 0.5182 - accuracy: 0.7398
Epoch 19/50
38/38 [==============================] - 0s 568us/step - loss: 0.5174 - accuracy: 0.7415
Epoch 20/50
38/38 [==============================] - 0s 541us/step - loss: 0.5152 - accuracy: 0.7406
Epoch 21/50
38/38 [==============================] - 0s 529us/step - loss: 0.5141 - accuracy: 0.7423
Epoch 22/50
38/38 [==============================] - 0s 568us/step - loss: 0.5119 - accuracy: 0.7415
Epoch 23/50
38/38 [==============================] - 0s 568us/step - loss: 0.5103 - accuracy: 0.7431
Epoch 24/50
38/38 [==============================] - 0s 554us/step - loss: 0.5090 - accuracy: 0.7465
Epoch 25/50
38/38 [==============================] - 0s 568us/step - loss: 0.5078 - accuracy: 0.7531
Epoch 26/50
38/38 [==============================] - 0s 568us/step - loss: 0.5060 - accuracy: 0.7548
Epoch 27/50
38/38 [==============================] - 0s 554us/step - loss: 0.5048 - accuracy: 0.7565
Epoch 28/50
38/38 [==============================] - 0s 582us/step - loss: 0.5038 - accuracy: 0.7565
Epoch 29/50
38/38 [==============================] - 0s 541us/step - loss: 0.5029 - accuracy: 0.7573
Epoch 30/50
38/38 [==============================] - 0s 568us/step - loss: 0.5015 - accuracy: 0.7573
Epoch 31/50
38/38 [==============================] - 0s 581us/step - loss: 0.5002 - accuracy: 0.7581
Epoch 32/50
38/38 [==============================] - 0s 554us/step - loss: 0.4996 - accuracy: 0.7598
Epoch 33/50
38/38 [==============================] - 0s 554us/step - loss: 0.4985 - accuracy: 0.7590
Epoch 34/50
38/38 [==============================] - 0s 676us/step - loss: 0.4970 - accuracy: 0.7598
Epoch 35/50
38/38 [==============================] - 0s 568us/step - loss: 0.4961 - accuracy: 0.7623
Epoch 36/50
38/38 [==============================] - 0s 568us/step - loss: 0.4951 - accuracy: 0.7598
Epoch 37/50
38/38 [==============================] - 0s 527us/step - loss: 0.4943 - accuracy: 0.7631
Epoch 38/50
38/38 [==============================] - 0s 532us/step - loss: 0.4931 - accuracy: 0.7648
Epoch 39/50
38/38 [==============================] - 0s 568us/step - loss: 0.4919 - accuracy: 0.7656
Epoch 40/50
38/38 [==============================] - 0s 527us/step - loss: 0.4911 - accuracy: 0.7623
Epoch 41/50
38/38 [==============================] - 0s 554us/step - loss: 0.4906 - accuracy: 0.7656
Epoch 42/50
38/38 [==============================] - 0s 568us/step - loss: 0.4892 - accuracy: 0.7656
Epoch 43/50
38/38 [==============================] - 0s 568us/step - loss: 0.4888 - accuracy: 0.7673
Epoch 44/50
38/38 [==============================] - 0s 568us/step - loss: 0.4873 - accuracy: 0.7665
Epoch 45/50
38/38 [==============================] - 0s 553us/step - loss: 0.4868 - accuracy: 0.7656
Epoch 46/50
38/38 [==============================] - 0s 546us/step - loss: 0.4853 - accuracy: 0.7690
Epoch 47/50
38/38 [==============================] - 0s 568us/step - loss: 0.4847 - accuracy: 0.7690
Epoch 48/50
38/38 [==============================] - 0s 541us/step - loss: 0.4839 - accuracy: 0.7690
Epoch 49/50
38/38 [==============================] - 0s 568us/step - loss: 0.4836 - accuracy: 0.7715
Epoch 50/50
38/38 [==============================] - 0s 539us/step - loss: 0.4819 - accuracy: 0.7690

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [15]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.5094 - accuracy: 0.7475 - 70ms/epoch - 5ms/step
Loss: 0.5093716979026794, Accuracy: 0.7475000023841858

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [16]:
# Set the model's file path
path = 'student_loans.keras'

# Export your model to a keras file
nn_model.save(path)

print(f"Model saved to {path}")

Model saved to student_loans.keras

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [17]:
# Set the model's file path
path = 'student_loans.keras'

# Load the model to a new object
from tensorflow.keras.models import load_model
loaded_model = load_model(path)

# Verify the loaded model
loaded_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 96

 dense_1 (Dense)             (None, 6)                 54

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 157 (628.00 Byte)
Trainable params: 157 (628.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [19]:
# Make predictions with the test data
predictions = loaded_model.predict(X_test_scaled,verbose=2)

# Display a sample of the predictions
predictions

13/13 - 0s - 28ms/epoch - 2ms/step

array([[0.27490515],
       [0.42457902],
       [0.8466233 ],
       [0.760412  ],
       [0.95671254],
       [0.90906715],
       [0.9317096 ],
       [0.0610268 ],
       [0.25747353],
       [0.45189115],
       [0.89156705],
       [0.16905463],
       [0.6315119 ],
       [0.9302708 ],
       [0.5836133 ],
       [0.31627592],
       [0.8648264 ],
       [0.39447883],
       [0.6221051 ],
       [0.40806746],
       [0.54582757],
       [0.9046131 ],
       [0.21670252],
       [0.92029816],
       [0.39013112],
       [0.9124796 ],
       [0.860121  ],
       [0.64256185],
       [0.3016343 ],
       [0.27748674],
       [0.446377  ],
       [0.9700009 ],
       [0.21871965],
       [0.9508285 ],
       [0.20413901],
       [0.6484429 ],
       [0.1755234 ],
       [0.30398837],
       [0.92568314],
       [0.15902139],
       [0.9106524 ],
       [0.08619472],
       [0.15507029],
       [0.92336327],
       [0.10849506],
       [0.6474578 ],
       [0.2563194 ],
       [0.438576  ],
       [0.36673507],
       [0.78017163],
       [0.05270432],
       [0.10256975],
       [0.9388851 ],
       [0.09000497],
       [0.15631004],
       [0.70515996],
       [0.77078986],
       [0.6863656 ],
       [0.9132929 ],
       [0.14137898],
       [0.7961369 ],
       [0.12051059],
       [0.24377985],
       [0.4231802 ],
       [0.06396324],
       [0.30546224],
       [0.94666773],
       [0.47161475],
       [0.67966294],
       [0.9465642 ],
       [0.20413901],
       [0.90237767],
       [0.63200825],
       [0.73922133],
       [0.14476812],
       [0.47002795],
       [0.89926714],
       [0.11129558],
       [0.12520559],
       [0.8041188 ],
       [0.74582165],
       [0.17593984],
       [0.10247303],
       [0.66649276],
       [0.55091256],
       [0.14581196],
       [0.17216413],
       [0.7439428 ],
       [0.38545963],
       [0.6507425 ],
       [0.19957547],
       [0.94111675],
       [0.19552885],
       [0.9055858 ],
       [0.7584392 ],
       [0.28671193],
       [0.8464439 ],
       [0.5837445 ],
       [0.59679526],
       [0.87671524],
       [0.69570005],
       [0.22800468],
       [0.24339575],
       [0.15630607],
       [0.17416336],
       [0.4682707 ],
       [0.75012463],
       [0.43473232],
       [0.83545876],
       [0.23579353],
       [0.9204485 ],
       [0.6870928 ],
       [0.867573  ],
       [0.6794577 ],
       [0.40611705],
       [0.9805074 ],
       [0.22624199],
       [0.16909565],
       [0.21974075],
       [0.26111633],
       [0.09445641],
       [0.97657955],
       [0.9535184 ],
       [0.20498243],
       [0.23615715],
       [0.64810514],
       [0.79396546],
       [0.25411066],
       [0.745272  ],
       [0.6886233 ],
       [0.39316574],
       [0.2324974 ],
       [0.95252126],
       [0.1663841 ],
       [0.7484078 ],
       [0.81649226],
       [0.13879214],
       [0.9624035 ],
       [0.36536926],
       [0.45214385],
       [0.25319096],
       [0.6143023 ],
       [0.46499598],
       [0.17523101],
       [0.8364229 ],
       [0.9626397 ],
       [0.48385325],
       [0.13991416],
       [0.72559   ],
       [0.85082865],
       [0.42974126],
       [0.96156245],
       [0.3051101 ],
       [0.37156495],
       [0.89638084],
       [0.8875983 ],
       [0.93814707],
       [0.9117968 ],
       [0.7839533 ],
       [0.54499876],
       [0.83271813],
       [0.40527657],
       [0.32670304],
       [0.2166057 ],
       [0.9499722 ],
       [0.8608892 ],
       [0.4001601 ],
       [0.1628687 ],
       [0.0828433 ],
       [0.8531024 ],
       [0.39788547],
       [0.81321335],
       [0.23049095],
       [0.5352579 ],
       [0.8778362 ],
       [0.34655455],
       [0.47636878],
       [0.31644666],
       [0.27163112],
       [0.28671193],
       [0.67959553],
       [0.7336608 ],
       [0.6525609 ],
       [0.18890472],
       [0.9589136 ],
       [0.96279186],
       [0.9087733 ],
       [0.378408  ],
       [0.19460817],
       [0.16825698],
       [0.19793046],
       [0.61751723],
       [0.5210474 ],
       [0.30419308],
       [0.73948836],
       [0.41744766],
       [0.72429216],
       [0.378291  ],
       [0.14821722],
       [0.36959273],
       [0.89796543],
       [0.429073  ],
       [0.9259577 ],
       [0.247706  ],
       [0.97919333],
       [0.65863836],
       [0.29055136],
       [0.08445492],
       [0.8867596 ],
       [0.61232007],
       [0.31429592],
       [0.7418958 ],
       [0.24339575],
       [0.82443815],
       [0.21582685],
       [0.23879322],
       [0.0897105 ],
       [0.05541117],
       [0.816741  ],
       [0.55425394],
       [0.6109741 ],
       [0.32446137],
       [0.29361218],
       [0.18040742],
       [0.7719065 ],
       [0.6969049 ],
       [0.6856359 ],
       [0.71011734],
       [0.9788042 ],
       [0.6593946 ],
       [0.26840445],
       [0.31803447],
       [0.927636  ],
       [0.9087031 ],
       [0.41892007],
       [0.21110453],
       [0.9266793 ],
       [0.22661766],
       [0.3345066 ],
       [0.30113772],
       [0.8673327 ],
       [0.8600955 ],
       [0.7732577 ],
       [0.46509784],
       [0.5555013 ],
       [0.9543194 ],
       [0.62461686],
       [0.2849689 ],
       [0.22303253],
       [0.2797273 ],
       [0.19959006],
       [0.22354826],
       [0.9683934 ],
       [0.80047536],
       [0.95562476],
       [0.17748928],
       [0.13398421],
       [0.23729086],
       [0.30589575],
       [0.7523011 ],
       [0.6488696 ],
       [0.20980754],
       [0.6576122 ],
       [0.347789  ],
       [0.3725636 ],
       [0.72559   ],
       [0.7230959 ],
       [0.1702184 ],
       [0.1795083 ],
       [0.92711335],
       [0.13468686],
       [0.7131429 ],
       [0.21114078],
       [0.947018  ],
       [0.18233627],
       [0.5716461 ],
       [0.54726017],
       [0.81321335],
       [0.648023  ],
       [0.2910104 ],
       [0.97189873],
       [0.6225722 ],
       [0.42951065],
       [0.09211825],
       [0.26046643],
       [0.78081816],
       [0.46622506],
       [0.10527369],
       [0.27593726],
       [0.76368827],
       [0.66557604],
       [0.8648264 ],
       [0.59974015],
       [0.4125974 ],
       [0.94048154],
       [0.882319  ],
       [0.14009899],
       [0.91710323],
       [0.21040751],
       [0.19335292],
       [0.38326073],
       [0.8721243 ],
       [0.12634163],
       [0.7990543 ],
       [0.3100159 ],
       [0.5976313 ],
       [0.14479831],
       [0.94505066],
       [0.5115311 ],
       [0.09155384],
       [0.1349373 ],
       [0.7301754 ],
       [0.21555893],
       [0.91985977],
       [0.6173114 ],
       [0.7985299 ],
       [0.2082134 ],
       [0.25815308],
       [0.93752855],
       [0.9266793 ],
       [0.3561774 ],
       [0.59835345],
       [0.98607904],
       [0.14845571],
       [0.41744766],
       [0.30702466],
       [0.09641752],
       [0.97532594],
       [0.73817396],
       [0.8061849 ],
       [0.8372803 ],
       [0.18555611],
       [0.40076786],
       [0.42921767],
       [0.52257556],
       [0.260394  ],
       [0.90715396],
       [0.82443815],
       [0.17826106],
       [0.6022678 ],
       [0.28257495],
       [0.18297587],
       [0.62588936],
       [0.4221624 ],
       [0.3725226 ],
       [0.97682476],
       [0.91445744],
       [0.38579506],
       [0.19491158],
       [0.5068341 ],
       [0.7418958 ],
       [0.9768134 ],
       [0.6512065 ],
       [0.7411227 ],
       [0.5333087 ],
       [0.21708529],
       [0.97489864],
       [0.9302708 ],
       [0.13879214],
       [0.11443621],
       [0.25947228],
       [0.92438334],
       [0.28105888],
       [0.9643256 ],
       [0.21941744],
       [0.20193745],
       [0.42461276],
       [0.34636685],
       [0.8012503 ],
       [0.21110453],
       [0.6805499 ],
       [0.6359827 ],
       [0.41079795],
       [0.19657531],
       [0.17566541],
       [0.73642653],
       [0.9773317 ],
       [0.97060114],
       [0.23879322],
       [0.895562  ],
       [0.8903181 ],
       [0.7114798 ],
       [0.8425365 ],
       [0.8179009 ],
       [0.2783352 ],
       [0.8991538 ],
       [0.13048293],
       [0.6776842 ],
       [0.7813021 ],
       [0.3981071 ],
       [0.23329115],
       [0.38631672],
       [0.38744187],
       [0.7986596 ],
       [0.23591967],
       [0.6959582 ],
       [0.38545963],
       [0.927636  ],
       [0.37798414],
       [0.69431454]], dtype=float32)

In [20]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df = pd.DataFrame((predictions > 0.5).astype("int32"), columns=["Predicted"])

# Display a sample of the predictions
predictions_df.sample(10)

     Predicted
157          1
273          1
45           1
331          0
352          1
296          0
351          1
382          1
181          1
254          1

### Step 4: Display a classification report with the y test data and predictions

In [21]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df["Predicted"]))

              precision    recall  f1-score   support

           0       0.72      0.76      0.74       188
           1       0.78      0.74      0.76       212

    accuracy                           0.75       400
   macro avg       0.75      0.75      0.75       400
weighted avg       0.75      0.75      0.75       400

---
## Discuss creating a recommendation system for student loans


Briefly answer the following questions:
 1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

	  > To build a recommendation system for student loan options, the
	  > following data would be relevant:
	  > 
	  > Student Demographics: Age, gender, location, and educational
	  > background. These factors can influence loan options and terms
	  > available to students.
	  > 
	  > Academic Information: Current level of study (undergraduate,
	  > graduate), major, GPA, and university attended. Lenders may offer
	  > different terms based on academic performance and institution
	  > reputation.
	  > 
	  > Financial Information: Income, existing debts, credit score, and
	  > financial aid status. These are critical for determining loan
	  > eligibility and interest rates.
	  > 
	  > Loan Preferences: Preferred loan amount, repayment period, and
	  > interest rate type (fixed or variable). This helps tailor
	  > recommendations to student preferences.
	  > 
	  > Historical Loan Data: Previous loans taken, repayment history, and
	  > loan default rates. Past behavior can predict future loan performance
	  > and suitability.
	  > 
	  > This data is relevant because it provides a comprehensive view of the
	  > student's financial situation, academic standing, and loan
	  > preferences, which are crucial for making accurate and personalized
	  > loan recommendations.

  

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

	> The model would primarily use content-based filtering. This method
	> focuses on the attributes of the items (in this case, loan options)
	> and the user's profile to make recommendations.
	> 
	> Justification: The selected data includes detailed attributes of both
	> the students (users) and the loans (items), such as financial
	> information, academic performance, and loan preferences. Content-based
	> filtering leverages these attributes to match students with the most
	> suitable loan options based on their individual profiles.
	> 
	> While collaborative filtering could also be used if we have access to
	> user interaction data (e.g., loans previously taken by similar
	> students), content-based filtering is more suitable given the
	> importance of matching specific loan terms and conditions to
	> individual student profiles.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

	>**Data Privacy and Security:**
	 > *Concern:* Student loan data involves sensitive financial and personal
	> information. Ensuring data privacy and security is paramount to
	> protect students' identities and financial information from breaches
	> and misuse.
	> 
	> *Impact:* Breaches can lead to identity theft and financial fraud,
	> eroding trust in the recommendation system and potentially leading to
	> legal consequences.
	> 
	> **Bias and Fairness:**
	> *Concern:* The recommendation system must ensure fairness and avoid
	> biases that could disadvantage certain groups of students based on
	> their demographics, academic background, or financial status.
	> 
	> *Impact:* Biases can lead to discriminatory recommendations, where some
	> students may consistently receive less favorable loan options. This
	> can exacerbate existing inequalities and reduce the system's overall
	> credibility and effectiveness.
	> 
	> Addressing these challenges involves implementing robust data
	> protection measures and developing algorithms that are transparent and
	> fair, ensuring equitable access to loan opportunities for all
	> students.