# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [5]:
# Define the target set y using the credit_ranking column
y = loans_df['credit_ranking']

# Display a sample of y
y[0:10]

0    0
1    0
2    0
3    1
4    0
5    0
6    0
7    1
8    1
9    0
Name: credit_ranking, dtype: int64

In [6]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns='credit_ranking')

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [7]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [8]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [9]:
# Define the the number of inputs (features) to the model
input_nodes = len(X.columns)

In [10]:
# Define the number of hidden nodes for the first hidden layer
hn1 = 8

# Define the number of hidden nodes for the second hidden layer
hn2 = 6

# Define the number of neurons in the output layer
output_neurons = 1

In [11]:
# Create the Sequential model instance
nn_model = tf.keras.models.Sequential()

# Add the first hidden layer
nn_model.add(Dense(units=hn1, activation='relu', input_dim=input_nodes))

# Add the second hidden layer
nn_model.add(Dense(units=hn2, activation='relu'))

# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(Dense(units=output_neurons, activation='sigmoid'))

In [12]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 96

 dense_1 (Dense)             (None, 6)                 54

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 157 (628.00 Byte)
Trainable params: 157 (628.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [22]:
# Compile the Sequential model
nn_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [23]:
# Fit the model using 50 epochs and the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 0s 665us/step - loss: 0.7026 - accuracy: 0.4996
Epoch 2/50
38/38 [==============================] - 0s 581us/step - loss: 0.6885 - accuracy: 0.5630
Epoch 3/50
38/38 [==============================] - 0s 541us/step - loss: 0.6766 - accuracy: 0.6013
Epoch 4/50
38/38 [==============================] - 0s 581us/step - loss: 0.6631 - accuracy: 0.6247
Epoch 5/50
38/38 [==============================] - 0s 541us/step - loss: 0.6465 - accuracy: 0.6522
Epoch 6/50
38/38 [==============================] - 0s 527us/step - loss: 0.6253 - accuracy: 0.6772
Epoch 7/50
38/38 [==============================] - 0s 527us/step - loss: 0.6019 - accuracy: 0.6997
Epoch 8/50
38/38 [==============================] - 0s 527us/step - loss: 0.5796 - accuracy: 0.7048
Epoch 9/50
38/38 [==============================] - 0s 554us/step - loss: 0.5612 - accuracy: 0.7114
Epoch 10/50
38/38 [==============================] - 0s 577us/step - loss: 0.5483 - accuracy: 0.7123
Epoch 11/50
38/38 [==============================] - 0s 799us/step - loss: 0.5403 - accuracy: 0.7198
Epoch 12/50
38/38 [==============================] - 0s 541us/step - loss: 0.5343 - accuracy: 0.7231
Epoch 13/50
38/38 [==============================] - 0s 544us/step - loss: 0.5302 - accuracy: 0.7281
Epoch 14/50
38/38 [==============================] - 0s 541us/step - loss: 0.5261 - accuracy: 0.7373
Epoch 15/50
38/38 [==============================] - 0s 527us/step - loss: 0.5227 - accuracy: 0.7398
Epoch 16/50
38/38 [==============================] - 0s 568us/step - loss: 0.5188 - accuracy: 0.7423
Epoch 17/50
38/38 [==============================] - 0s 568us/step - loss: 0.5160 - accuracy: 0.7423
Epoch 18/50
38/38 [==============================] - 0s 568us/step - loss: 0.5131 - accuracy: 0.7481
Epoch 19/50
38/38 [==============================] - 0s 569us/step - loss: 0.5095 - accuracy: 0.7465
Epoch 20/50
38/38 [==============================] - 0s 568us/step - loss: 0.5064 - accuracy: 0.7465
Epoch 21/50
38/38 [==============================] - 0s 541us/step - loss: 0.5044 - accuracy: 0.7473
Epoch 22/50
38/38 [==============================] - 0s 568us/step - loss: 0.5016 - accuracy: 0.7465
Epoch 23/50
38/38 [==============================] - 0s 568us/step - loss: 0.4997 - accuracy: 0.7506
Epoch 24/50
38/38 [==============================] - 0s 568us/step - loss: 0.4976 - accuracy: 0.7531
Epoch 25/50
38/38 [==============================] - 0s 549us/step - loss: 0.4959 - accuracy: 0.7556
Epoch 26/50
38/38 [==============================] - 0s 554us/step - loss: 0.4942 - accuracy: 0.7556
Epoch 27/50
38/38 [==============================] - 0s 568us/step - loss: 0.4929 - accuracy: 0.7548
Epoch 28/50
38/38 [==============================] - 0s 529us/step - loss: 0.4912 - accuracy: 0.7548
Epoch 29/50
38/38 [==============================] - 0s 541us/step - loss: 0.4906 - accuracy: 0.7548
Epoch 30/50
38/38 [==============================] - 0s 527us/step - loss: 0.4890 - accuracy: 0.7565
Epoch 31/50
38/38 [==============================] - 0s 565us/step - loss: 0.4879 - accuracy: 0.7598
Epoch 32/50
38/38 [==============================] - 0s 541us/step - loss: 0.4865 - accuracy: 0.7581
Epoch 33/50
38/38 [==============================] - 0s 561us/step - loss: 0.4861 - accuracy: 0.7581
Epoch 34/50
38/38 [==============================] - 0s 680us/step - loss: 0.4843 - accuracy: 0.7623
Epoch 35/50
38/38 [==============================] - 0s 554us/step - loss: 0.4833 - accuracy: 0.7598
Epoch 36/50
38/38 [==============================] - 0s 541us/step - loss: 0.4822 - accuracy: 0.7590
Epoch 37/50
38/38 [==============================] - 0s 527us/step - loss: 0.4814 - accuracy: 0.7640
Epoch 38/50
38/38 [==============================] - 0s 514us/step - loss: 0.4806 - accuracy: 0.7623
Epoch 39/50
38/38 [==============================] - 0s 541us/step - loss: 0.4797 - accuracy: 0.7623
Epoch 40/50
38/38 [==============================] - 0s 527us/step - loss: 0.4791 - accuracy: 0.7631
Epoch 41/50
38/38 [==============================] - 0s 527us/step - loss: 0.4785 - accuracy: 0.7615
Epoch 42/50
38/38 [==============================] - 0s 568us/step - loss: 0.4773 - accuracy: 0.7623
Epoch 43/50
38/38 [==============================] - 0s 527us/step - loss: 0.4768 - accuracy: 0.7606
Epoch 44/50
38/38 [==============================] - 0s 554us/step - loss: 0.4760 - accuracy: 0.7648
Epoch 45/50
38/38 [==============================] - 0s 527us/step - loss: 0.4754 - accuracy: 0.7623
Epoch 46/50
38/38 [==============================] - 0s 554us/step - loss: 0.4743 - accuracy: 0.7640
Epoch 47/50
38/38 [==============================] - 0s 543us/step - loss: 0.4738 - accuracy: 0.7640
Epoch 48/50
38/38 [==============================] - 0s 554us/step - loss: 0.4735 - accuracy: 0.7656
Epoch 49/50
38/38 [==============================] - 0s 575us/step - loss: 0.4728 - accuracy: 0.7681
Epoch 50/50
38/38 [==============================] - 0s 542us/step - loss: 0.4720 - accuracy: 0.7648

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [24]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.5180 - accuracy: 0.7450 - 74ms/epoch - 6ms/step
Loss: 0.5180310010910034, Accuracy: 0.7450000047683716

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [25]:
# Set the model's file path
path = 'student_loans.keras'

# Export your model to a keras file
nn_model.save(path)

print(f"Model saved to {path}")

Model saved to student_loans.keras

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [17]:
# Set the model's file path
path = 'student_loans.keras'

# Load the model to a new object

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [18]:
# Make predictions with the test data


# Display a sample of the predictions

In [19]:
# Save the predictions to a DataFrame and round the predictions to binary results

### Step 4: Display a classification report with the y test data and predictions

In [20]:
# Print the classification report with the y test data and predictions

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**